@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {

  .btn-primary {
    @apply text-white bg-blue-500 px-4 py-2 rounded-md active:bg-blue-900 hover:outline-2  hover:-translate-y-[1px] transition duration-150 ease-out hover:ease-in hover:shadow-md;
  }

  .btn-secondary {
    @apply text-slate-900 px-4 py-2 border-b-2 border-transparent hover:border-b-2 hover:border-blue-600 hover:cursor-pointer;
  }

  .input-primary {
    @apply px-2 py-1 rounded-md border-2 border-slate-400 outline-2 outline-slate-400 bg-transparent focus:outline-blue-500 ;
  }
}